In [145]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

i=144
liste =[]
namen =[]
while i<148:
    i+=1
    path = f'RR_STAID000{i}.txt'
    
    df = pd.read_csv(path,skiprows=19)
    df = df.iloc[:,2]
    with open(path, 'r') as file:
        string=file.readlines()[15][51:-2]
        string=string.split('(')[0][:-1]
        namen.append(string)
        
    #df['Name']=string
    liste.append(df)
s=pd.Series(liste,index=namen)
date=pd.to_datetime(pd.read_csv(f'RR_STAID000144.txt',skiprows=19).iloc[:,1],format="%Y%m%d")
liste.insert(0,date)
daten=pd.DataFrame(pd.concat(liste,axis=1))
namen.insert(0,"Datum")
daten.columns=namen
daten.info()
daten.to_csv("test.csv")

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14972 entries, 3 to 14974
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Datum         14972 non-null  datetime64[ns]
 1   DE KOOY-1     14972 non-null  int64
 2   DEN HELDER-1  14972 non-null  int64
 3   GRONINGEN-1   14972 non-null  int64
 4   TER APEL      14972 non-null  int64
dtypes: datetime64[ns](1), int64(4)
memory usage: 585.0 KB

In [148]:
daten.drop(0,axis=0)

KeyError: '[0] not found in axis'

In [149]:
daten

           Datum  DE KOOY-1  DEN HELDER-1  GRONINGEN-1  TER APEL
3     1979-01-04          0             0            0         0
4     1979-01-05          0             0            0         0
5     1979-01-06          0             0            0         0
6     1979-01-07         32            25           58        43
7     1979-01-08         29             9           13        29
...          ...        ...           ...          ...       ...
14970 2019-12-27          0             0            0         0
14971 2019-12-28          0             0            0         0
14972 2019-12-29          0             0            0         0
14973 2019-12-30          0             0            1         0
14974 2019-12-31          0             0            2         0

[14972 rows x 5 columns]